In [25]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

import pandas as pd
import requests

In [26]:
current_datetime = datetime.now() - relativedelta(months = 2) # datetime típus
formatted_datetime = current_datetime.strftime("%Y-%m-%d") # string from time formázás

In [27]:
url = "https://archive-api.open-meteo.com/v1/era5"

In [28]:
params = {
	'latitude': 41.85, # chicago
	'longitude': -87.65,
	'start_date': formatted_datetime,
	'end_date': formatted_datetime,
	'hourly': 'temperature_2m,wind_speed_10m,rain,precipitation'
}

In [29]:
response = requests.get(url, params = params)
data = response.json()

In [30]:
# api lekérdezés adatai metaadatok nélkül
weather_data = {
	'datetime':data['hourly']['time'],
	'temperature':data['hourly']['temperature_2m'],
	'wind_speed':data['hourly']['wind_speed_10m'],
	'rain':data['hourly']['rain'],
	'precipitation':data['hourly']['precipitation']}

In [35]:
weather_df = pd.DataFrame(weather_data)
weather_df['datetime'] = pd.to_datetime(weather_df['datetime'])

In [36]:
weather_df.head()

             datetime  temperature  wind_speed  rain  precipitation
0 2025-09-19 00:00:00         22.9         6.7   0.0            0.0
1 2025-09-19 01:00:00         21.9         9.5   0.0            0.0
2 2025-09-19 02:00:00         21.3         8.4   0.0            0.0
3 2025-09-19 03:00:00         21.0         7.9   0.0            0.0
4 2025-09-19 04:00:00         20.4         7.3   0.0            0.0

In [37]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   datetime       24 non-null     datetime64[ns]
 1   temperature    24 non-null     float64
 2   wind_speed     24 non-null     float64
 3   rain           24 non-null     float64
 4   precipitation  24 non-null     float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 1.1 KB