In [1]:
from datetime import datetime
import pandas as pd

In [2]:
start_date = datetime(2025, 1, 1)
end_date = datetime(2030, 12, 31)
date_range = pd.date_range(start = start_date, end = end_date)

date_df = pd.DataFrame(date_range, columns = ['date'])

In [3]:
date_df.head()

        date
0 2025-01-01
1 2025-01-02
2 2025-01-03
3 2025-01-04
4 2025-01-05

In [4]:
date_df['year'] = date_df['date'].dt.year
date_df['month'] = date_df['date'].dt.month
date_df['day'] = date_df['date'].dt.day
date_df['day_of_week'] = date_df['date'].dt.day_of_week + 1 # ne indexszel foglalkozzunk
date_df['is_weekend'] = date_df['day_of_week'].isin([6, 7]) # ha hatodik vagy hetedik nap

In [5]:
date_df.sample(10)

           date  year  month  day  day_of_week  is_weekend
1265 2028-06-19  2028      6   19            1       False
1104 2028-01-10  2028      1   10            1       False
1348 2028-09-10  2028      9   10            7        True
1116 2028-01-22  2028      1   22            6        True
2026 2030-07-20  2030      7   20            6        True
2031 2030-07-25  2030      7   25            4       False
507  2026-05-23  2026      5   23            6        True
590  2026-08-14  2026      8   14            5       False
1394 2028-10-26  2028     10   26            4       False
846  2027-04-27  2027      4   27            2       False

In [6]:
date_df.to_csv('date_master.csv', index=False)